@charset "utf-8";

@font-face{
    font-family: 'Noto Sans KR';
    font-style:'normal';
    font-weight:300;
    src:url(.../fonts/NotoSansCJKkr-Light.eot);
    src:url(.../fonts/NotoSansCJKkr-Light.eot?#iefix) format('embedded-opentype'),
        url(.../fonts/NotoSansCJKkr-Light.woff2) format('woff2'),
        url(.../fonts/NotoSansCJKkr-Light.woff) format('woff'),
        url(.../fonts/NotoSansCJKkr-Light.otf) format('opentype');
    src:local(※), url(../fonts/NotoSansCJKkr-Light.woff) format('woff');        
}
@font-face{
    font-family: 'Noto Sans KR';
    font-style:'normal';
    font-weight:400;
    src:url(../fonts/NotoSansCJKkr-Regular.eot);
    src:url(../fonts/NotoSansCJKkr-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/NotoSansCJKkr-Regular.woff2) format('woff2'),
        url(../fonts/NotoSansCJKkr-Regular.woff) format('woff'),
        url(../fonts/NotoSansCJKkr-Regular.otf) format('opentype');
    src:local(※), url(../fonts/NotoSansCJKkr-Regular.woff) format('woff');        
}
@font-face{
    font-family: 'Noto Sans KR';
    font-style:'normal';
    font-weight:700;
    src:url(../fonts/NotoSansCJKkr-Bold.eot);
    src:url(../fonts/NotoSansCJKkr-Bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/NotoSansCJKkr-Bold.woff2) format('woff2'),
        url(../fonts/NotoSansCJKkr-Bold.woff) format('woff'),
        url(../fonts/NotoSansCJKkr-Bold.otf) format('opentype');
    src:local(※), url(../fonts/NotoSansCJKkr-Bold.woff) format('woff');        
}
@font-face{
    font-family: 'Helvetica';
    font-style:'normal';
    font-weight:400;
    src:url(../fonts/HelveticaNowDisplay-Regular.eot);
    src:url(../fonts/HelveticaNowDisplay-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/HelveticaNowDisplay-Regular.woff2) format('woff2'),
        url(../fonts/HelveticaNowDisplay-Regular.woff) format('woff'),
        url(../fonts/HelveticaNowDisplay-Regular.otf) format('opentype'),
        url(../fonts/HelveticaNowDisplay-Regular.ttf) format('truetype');
    src:local(※), url(../fonts/HelveticaNowDisplay-Regular.woff) format('woff');        
}
@font-face{
    font-family: 'Bebas';
    font-style:'normal';
    font-weight:400;
    src:url(../fonts/BebasNeue-Regular.eot);
    src:url(../fonts/BebasNeue-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/BebasNeue-Regular.woff2) format('woff2'),
        url(../fonts/BebasNeue-Regular.woff) format('woff'),
        url(../fonts/BebasNeue-Regular.otf) format('opentype'),
        url(../fonts/BebasNeue-Regular.ttf) format('truetype');
    src:local(※), url(../fonts/BebasNeue-Regular.woff) format('woff');        
}

html, body {
    font-family:"Noto Sans KR", "Helvetica", sans-serif;
    font-weight:400;
    background:#0e0429;
    position:relative;
}
body::before{
    position:absolute;
    z-index:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:'';
    background-image: url(../images/pattern.png);
    background-repeat:repeat;
    opacity:0.05;
}
* {
    margin:0;
    padding:0;
    line-height:1;
    box-sizing:border-box;
}
ul, ol, li {
    list-style:none;
}
a {
    text-decoration:none;
    color:#333333;
}
::selection {
    background:#beb1e0;
    color:#aaaaaa;
}
.clearB:after {
    content:'';
    display:block;
    clear:both;
}
.hidden {
    display:block;
    width:0;
    height:0;
    overflow:hidden;
    text-indent:-99999px;
    white-space:nowrap;
}

.wrap {
    max-width:1200px;
    width:100%;
    margin:0 auto;
}

/*header*/
.header {
    width:100%;
    height:80px;
    position:relative;
    background:rgba(14, 4, 41,0.6);
    z-index:999999;
}
.h-logo {
    float:left;
    width:50%;
    height:100%;
    padding-left:20px;
    display:flex;
    align-items:center;
}
.h-logo a {
    text-align:left;
    font-size:24px;
    font-weight:700;
    color:#ffffff;
}
.h-snsbox {
    width:12%;
    height:100%;
    margin-right:5%;
    float:right;
    
}
.h-snsbox ul {
    height:100%;    
}
.h-snsbox li {
    float:left;
    width:50%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.h-snsbox li a {
    height:50%;
}
.h-snsbox a img {
    max-height:100%;
}

/*contents*/
.contents {
    position:relative;
    max-width:1200px;
    width:100%;
}
.con1 {
    width:40%;
    float:left;
}
.con1 li {
    width:100%;
    position:relative;
    overflow:hidden;
    background:#0e0429;
}

.con2 {
    width:40%;
    float:left;
}
.con2 li {
    width:50%;
    float:left;
    position:relative;
    overflow:hidden;
    background:#0e0429;
}

.con3 {
    width:20%;
    float:left;
}
.con3 li {
    width:100%;
    position:relative;
    overflow:hidden;
    background:#0e0429;
}

.con4 {
    width:20%;
    float:right;
    position:relative;
    overflow:hidden;
    background:#0e0429;
}
.con5 {
    width:40%;
    float:left;
    position:relative;
    overflow:hidden;
    background:#0e0429;
}
.con5-2 {
    position:relative;
    overflow:hidden;
    background:#0e0429;    
    display:none;
}
.con6 {
    width:40%;
    float:left;
}
.con6 li {
    width:50%;
    float:left;
    position:relative;
    overflow:hidden;
    background:#0e0429;
}

.contents a {
    display:inline-block;
    width:100%;
    height:100%;
}
.contents img {
    width:100%;
    opacity:1;
    transition:.5s;
}
.contents a:hover img {
    opacity:0.6;
}
.c-txt {
    position:absolute;
    bottom:15px;
    right:15px;
    display:inline-block;
    text-shadow:1px 1px 3px #333333;
    font-size:18px;
    font-weight:normal;
    line-height:1.5;
    color:#ffffff;
    opacity:0.5;
    transition:.5s;
    padding-left:10px;
}
.c-txt:before {
    content:'';
    width:3px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:#ffffff;
    opacity:0.7;
    transition:.5s;
}
.contents a:hover .c-txt {
    opacity:1;
}
.contents a:hover .c-txt:before {
    opacity:1;
}
.c1-02 .c-txt {
    right:initial;
    left:10px;
}
.c2-02 {
    display:block;
    justify-content:initial;
    align-items:initial;
}
.c6-01 {
    display:flex;
    justify-content:center;
    align-items:center;
}
.con2 .c2-02 {    
    background:#1b1b1b;
    height:100%;
}
.c2-01 span {
    display:inline-block;
    width:100%;
    height:100%;
}
.c2-02 a {
    display:flex;
    justify-content:center;
    align-items:center;
}
.c2-02 p {
    font-size:92px;
    color:#ffffff;
    text-align:center;
    font-family:'Bebas',sans-serif;
}
.c2-02 span {
    display:inline-block;
    font-size:36px;
    color:#ffffff;
    font-family:'Noto Sans KR',sans-serif;
}

.c3-01 .c-txt {
    bottom:initial;
    right:initial;
    top:10px;
    left:10px;
}
.con5-2 .c-txt,
.con5 .c-txt {
    bottom:initial;
    top:10px;
    
}
.con6 .c6-01 {    
    background:#1e1a5b;
}
.c6-01 p {
    color:#ffffff;
    text-align:center;
    line-height:1.1;
    font-size:60px;
    font-family:'Bebas',sans-serif;
}

/*footer*/
.footer {
    position:relative;
    width:100%;
    height:100px;
    text-align:right;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    background:rgba(14, 4, 41,0.6);
}
.copy {
    color:#ffffff;
    padding:0 30px;
    font-weight:300;
    font-size:12px;
    line-height:1.5;
}


@media screen and (max-width:1200px) {
    .c-txt {
        font-size:1.5vw;
    }
    .c2-02 p {
        font-size:7.6vw;
    }
    .c2-02 span {
        font-size:3vw;
    }
    .c6-01 p {
        font-size:5vw;
    }
}
@media screen and (max-width:800px) {
    .h-snsbox {
        width:15%;
    }
    .contents {
        padding:0 20px;
    }
    .con1 {
        width:100%;
    }
    .con1 li {
        width:50%;
        float:left;
    }
    
    .con2 {
        width:50%;
    }
    
    .con3 {
        width:25%;
    }
    
    .con4 {
        width:25%;
    }    
    
    .con5 {
        width:50%;
        float:left;
        background:#333333;
    }
    .con6 {
        width:50%;
        float:left;
    }    
    
    .c-txt {
        font-size:1.75vw;
    }
    .c2-02 p {
        font-size:8.4vw;
    }
    .c2-02 span {
        font-size:4vw;
    }
    .c6-01 p {
        font-size:6vw;
    }
}
@media screen and (max-width:640px) {
    .h-snsbox {
        width:20%;
    }
    .con1 {
        width:66.6%;
    }
    .con1 li {
        width:100%;
        float:initial;
    }
    
    .con2 {
        width:33.4%;
    }    
    .con2 li {
        width:100%;
    }
    
    .con3 {
        width:66.7%;
        float:right;
    }    
    .con3 li {
        width:50%;
        float:left;
    }
    
    .con4 {
        width:33.3%;
        float:left;
    }    
    
    .con5 {
        width:66.7%;
        float:right;
    }
    
    .con6 {
        width:100%;
    }
    .con6 li:nth-child(1) {
        width:66.7%;
    }
    .con6 li:nth-child(2) {
        width:33.3%;
    }
    
    .c-txt {
        font-size:2.2vw;
    }
    .c2-02 p {
        font-size:11vw;
    }
    .c2-02 span {
        font-size:5vw;
    }
    .c6-01 p {
        font-size:9vw;
    }
}
@media screen and (max-width:480px) {
    .h-snsbox {
        width:24%;
    }
    .con1 {
        width:100%;
    }
    
    .con2 {
        width:100%;
    }    
    .con2 li {
        width:50%;
    }    
    
    .con3 {
        width:100%;
        float:left;
    }
    .con3 li {
        width:50%;
    }
    
    .con4 {
        width:50%;
        float:right;
    }    
    
    .con5 {
        display:none;
    }
    
    .con6 {
        width:50%;
    }
    .con6 li:nth-child(1) {
        width:100%;
    }
    .con6 li:nth-child(2) {
        width:100%;
    }
    
    .con5-2 {
        display:block;
        width:100%;
        float:left;
    }    
    
    .c-txt {
        font-size:3.4vw;
    }
    .c2-02 p {
        font-size:15vw;
    }
    .c2-02 span {
        font-size:8vw;
    }
    .c6-01 p {
        font-size:11vw;
    }
}